/* Botao ON/OFF - caixa ao redor do controle deslizante*/
.on-off {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Oculta a caixa de seleção padrão do HTML */
.on-off input {display:none;}

/** INICIO Fundo **/
.fundo {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.fundo:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .fundo {
  background-color: #327b30;
}

input:focus + .fundo {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .fundo:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.fundo.arredondado {
  border-radius: 34px;
}

.fundo.arredondado:before {
  border-radius: 50%;
}
/** FIM Fundo **/