/* CSS IMPORTADO ================================================*/
@import url(reset.css);

/* DEFINIÇOES GERAIS ==================================== */
* {-webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }
body {background: #fefcf1;  color: #303030;  font-family: 'Open Sans', sans-serif;  position: relative;  left: 0;  -webkit-font-smoothing: antialiased !important; }
html.no-js #fallback-nav {display: block; }
html.no-js .fade {display: none; }
html.no-js #navicon {	display: none; }
html.js #fallback-nav {display: none; }
p {font-size: 0.8em;  line-height: 1.4em; }h2 a {text-decoration: none; }
h1 {font-weight: bold;  font-size: 2.3em;  font-family: 'Montserrat', sans-serif;  float: left; }
h2 {font-size: 2em;  font-weight: bold;  font-family: 'Montserrat', sans-serif; }
article {margin-bottom: 30px;  padding-bottom: 30px;  border-bottom: 5px solid #f8da5f; }



/* BOTÕES ==================================== */
.btn-group {.btn + .btn,  .btn + .btn-group,  .btn-group + .btn,  .btn-group + .btn-group {margin-left: -1px;}}
.btn-toolbar {margin-left: -5px; // Offset the first child's margin  &:extend(.clearfix all);  .btn,  .btn-group,  .input-group {float: left;  }
> .btn,  > .btn-group,  > .input-group {  margin-left: 5px;  }}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {border-radius: 0;}
.btn-group and we need :first-child and :last-child to both match.btn-group > .btn:first-child {margin-left: 0;  &:not(:last-child):not(.dropdown-toggle) {.border-right-radius(0);  }}

.dropdown-toggle since :last-child doesn't apply, given that a .dropdown-menu is used immediately after it.btn-group > .btn:last-child:not(:first-child),.btn-group > .dropdown-toggle:not(:first-child) {.border-left-radius(0);}
(useful for including dropdown buttons within a btn-group).btn-group > .btn-group {float: left;}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {border-radius: 0;}
.btn-group > .btn-group:first-child:not(:last-child) {> .btn:last-child,  > .dropdown-toggle {  .border-right-radius(0);  }}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {.border-left-radius(0);}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle {outline: 0;}
.btn-group-xs > .btn { &:extend(.btn-xs); }
.btn-group-sm > .btn { &:extend(.btn-sm); }
.btn-group-lg > .btn { &:extend(.btn-lg); }
.btn-group > .btn + .dropdown-toggle {padding-left: 8px;  padding-right: 8px;}
.btn-group > .btn-lg + .dropdown-toggle {padding-left: 12px;  padding-right: 12px;}


.date {color: #999;  font-size: 0.8em;  font-weight: normal;  font-style: italic;  margin-bottom: 20px;  display: inline-block; }
header.cf{display: none;z-index: 0;text-align: center;text-transform: uppercase;}
header.cf a{background: #e31430;}
.cf:before,.cf:after {content: " ";  /* 1 */  display: table;  /* 2 */ }
.cf:after {clear: both; }
.cf {*zoom: 1; }
#main-content {max-width: 580px;  margin: 50px auto;  padding: 0 30px; }
#fallback-nav {float: right; }  
#fallback-nav li {  display: inline-block; }    
#fallback-nav li a {    display: inline-block;      padding: 10px;      text-decoration: none;      color: #303030;      border: 1px solid #f8da5f; }      
#fallback-nav li a:hover, #fallback-nav li a.current {      background: #fae590;        border: 1px solid #e7bc0a; }

.older {background: #34495e;  color: white;  padding: 10px;  text-decoration: none;  margin-bottom: 20px; }
.older:hover {  color: white;    background: #587ca0; }
#navicon {display:none;  }
#main-nav {	  display: -webkit-box;  display: -webkit-flex;  display: -moz-box;  display: -ms-flexbox;  display: flex;  -webkit-box-orient: vertical;  -webkit-box-direction: normal;  -webkit-flex-direction: column;  -moz-box-orient: vertical;  -moz-box-direction: normal;  -ms-flex-direction: column;  flex-direction: column; height: 100%;  max-width: 250px;  width: 100%;  z-index: 5;  top: 0;  right: -250px;  position: fixed;  background: #e31430;  text-align: center; }
#main-nav a {  -webkit-box-flex: 1;    -webkit-flex: 1;    -moz-box-flex: 1;    -ms-flex: 1;    flex: 1;    color: white;    text-decoration: none;    display: -webkit-box;    display: -webkit-flex;    display: -moz-box;    display: -ms-flexbox;    display: flex;    -webkit-box-orient: vertical;    -webkit-box-direction: normal;    -webkit-flex-direction: column;    -moz-box-orient: vertical;    -moz-box-direction: normal;    -ms-flex-direction: column;    flex-direction: column;    -webkit-box-pack: center;    -webkit-justify-content: center;    -moz-box-pack: center;    -ms-flex-pack: center;    justify-content: center; 		}
nav#main-nav{	text-transform: uppercase;	font-weight: bold;	}
.fade {position: fixed;  top: 0;  right: 0;  bottom: 0;  left: 0;    background: rgba(0, 0, 0, 0.86);    opacity: 1;    z-index: 2;	}
.fade.in.show {z-index:1}

