#Indica a pagina de erro 404
ErrorDocument 404 https://hotboys.com.br/vip/404.php

RewriteRule ^audicoes/votacao/$ votacao.php [QSA,L,NC]
RewriteRule ^audicoes/$ audicoes.php [QSA,L,NC]
RewriteRule ^audicoes/participante-novo/(.*)/(.*) modelo-audicoes-novo.php?id=$1 [QSA,L,NC]
RewriteRule ^audicoes/videos/$ cenas-audicoes-novo.php [QSA,L,NC]
RewriteRule ^audicoes/videos/$ cenas-audicoes-novo.php [QSA,L,NC]
RewriteRule ^audicoes/participantes/$ participantes-audicoes.php [QSA,L,NC]
RewriteRule ^audicoes/noticia/(.*)/(.*) noticia-audicoes.php?id=$1 [QSA,L,NC]
RewriteRule ^audicoes/noticias/$ noticias-audicoes-novo.php [QSA,L,NC]
RewriteRule ^busca/$ busca.php [QSA,L,NC]
RewriteRule ^serie-cena/(.*) serie-cena.php?id=$1  [QSA,L,NC]
RewriteRule ^series/$ series.php [QSA,L,NC]
RewriteRule ^meus-favoritos/$ meus-favoritos.php [QSA,L,NC]
RewriteRule ^atores/$ modelos.php [QSA,L,NC]
RewriteRule ^atores/(.*) modelos.php?pag=$1  [QSA,L,NC]
RewriteRule ^atores-audicoes/$ modelos-audicoes-novo.php [QSA,L,NC]
RewriteRule ^ator/(.*)/(.*) modelo.php?id=$1 [QSA,L,NC]
RewriteRule ^videos/$ cenas-novo.php [QSA,L,NC]
RewriteRule ^videos/(.*) cenas.php?pag=$1 [QSA,L,NC] 
RewriteRule ^cena/(.*)/(.*) cena.php?id=$1 [QSA,L,NC]
RewriteRule ^audicoes/cena/(.*)/(.*) cena-audicoes.php?id=$1 [QSA,L,NC]
RewriteRule ^cenas-audicoes/$ cenas-audicoes.php [QSA,L,NC]
RewriteRule ^seja-um-ator/$ contato_modelo-novo.php [QSA,L,NC]
RewriteRule ^trabalhe-conosco/$ trabalhe_conosco-novo.php [QSA,L,NC]
RewriteRule ^minha-conta/$ perfil-usuario.php [QSA,L,NC]
RewriteRule ^home/(.*) index.php?pag=$1  [QSA,L,NC]
